/node_modules/
CHANGELOG.md
config.json
documentation.html
gulpfile.js
index.html
package.json
package-lock.json
README.md
yarn.lock
/src/
/starter-kit/
/gulp-tasks/
/app-assets/css/*/*.css
/app-assets/css-rtl/*/*.css
!/app-assets/css/*/*.min.css
!/app-assets/css-rtl/*/*.min.css
/app-assets/css/*/*/*.css
/app-assets/css-rtl/*/*/*.css
!/app-assets/css/*/*/*.min.css
!/app-assets/css-rtl/*/*/*.min.css
/images/
/app-assets/js/*/*.js
/app-assets/js/*.js
!/app-assets/js/*.min.js
!/app-assets/js/*/*.min.js
/html/
/app-assets/data/
/app-assets/js/custom/
